@tailwind utilities; 
@tailwind base;
@tailwind components;

.masked {
  /* -webkit-mask-image: linear-gradient(to bottom , black , white); */
  mask-image: linear-gradient(to bottom , rgba(0,0,0,1) , rgba(0,0,0,0));
}

@layer components  {
  .amazon-btn {
    @apply  bg-[#f0c14b] border rounded-[3px] text-[#111] mt-[10px] px-1 hover:bg-yellow-600 active:bg-yellow-700 duration-300
  }
  .svg {
    @apply bg-[#cd9042] p-[5px] rounded-r-md active:bg-yellow-700
  }
}

.svg {
  height: 32px !important;
}

@media (max-width: 768px) {
  .svg {
    height: 25px !important;
  }

  .basket {
    height: 18px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234,237,237);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.line-clamp-for-product {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

